@layer components {
    .loginPage {
        @apply pt-24 w-screen h-screen bg-main bg-cover flex justify-center items-start;
    }

    .loginContainer {
        @apply flex flex-col justify-center items-center w-4/5 bg-black bg-opacity-50 rounded text-white py-5 text-xl backdrop-blur-md gap-10;
    }

    .loginTitle {
        @apply font-bold text-5xl;
    }

    .loginContainerInputs {
        @apply flex flex-col gap-5;
    }

    .loginButton {
        @apply border border-white py-1 px-3 rounded;
    }

    .linkContainer {
        @apply flex flex-col justify-center items-center gap-1;
    }

    .resetTitle {
        @apply font-bold text-2xl;
    }

    .fullLink {
        @apply flex gap-5;
    }
    
    .link {
        @apply text-blue-400;
    }
}