@layer components {
  .loginPage {
    @apply pt-24 w-screen min-h-screen bg-main bg-cover bg-fixed flex justify-center items-start;
  }

  .loginContainer {
    @apply flex flex-col justify-center items-center w-4/5 bg-black bg-opacity-50 rounded text-white py-5 text-xl backdrop-blur-md gap-10;
  }

  .loginContainerRegistration {
    @apply flex flex-col justify-center items-center w-4/5 bg-black bg-opacity-50 rounded text-white py-5 text-xl backdrop-blur-md gap-10 mb-10;
  }

  .loginTitle {
    @apply font-bold text-5xl;
  }
  .loginTitleRegistration {
    @apply font-bold text-5xl mt-10;
  }

  .loginContainerInputs {
    @apply flex flex-col gap-5;
  }

  .loginButton {
    @apply border border-white py-1 px-3 rounded;
  }

  .linkContainer {
    @apply flex flex-col justify-center items-center gap-1;
  }

  .resetTitle {
    @apply font-bold text-2xl;
  }

  .fullLink {
    @apply flex gap-5;
  }

  .link {
    @apply text-blue-400;
  }

  .backButton {
    @apply absolute top-5 left-5;
  }

  .plz {
    @apply w-2/5;
  }

  .responsePage {
    @apply w-screen min-h-screen bg-main bg-cover bg-fixed flex justify-center items-center;
  }

  .responseContainer {
    @apply flex flex-col justify-center items-center w-4/5 bg-black bg-opacity-50 rounded text-white py-5 text-xl backdrop-blur-md gap-5;
  }

  .successTitle {
    @apply font-bold text-white text-3xl mb-4 text-center;
  }

  .errorTitle {
    @apply font-bold text-white text-2xl mb-4 text-center;
  }
}
