@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .landingPage {
    @apply w-screen h-screen bg-main bg-cover bg-center flex justify-center items-center;
  }

  .landingPage > .title {
    @apply text-4xl font-extrabold text-center;
  }
  .pictureComponent {
    @apply flex flex-col items-center bg-gray-400 rounded-lg m-4 bg-opacity-50 p-4;
  }
  .pictureComponent > .pictureComponentImg {
    @apply rounded-md m-4;
    width: calc(100% - 2rem);
  }
  .pictureComponent > .pictureComponentPrice {
    @apply text-2xl font-bold;
  }
  .pictureComponent > .pictureComponentDesc {
    @apply text-2xl font-bold;
  }
}
