@import "../styles/LandingPage.css";
@import "../styles/Navigation.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {

  .pictures {
    @apply pt-24 h-screen flex flex-col gap-2 items-center;
  }

  .pictures > a {
    @apply w-4/5;
  }

  .pictures > a > img {
    @apply w-full;
  }

  .pictureComponent {
    @apply flex flex-col items-center bg-gray-400 rounded-lg m-4 bg-opacity-50 p-4;
  }
  .pictureComponent > .pictureComponentImg {
    @apply rounded-md m-4;
    width: calc(100% - 2rem);
  }
  .pictureComponent > .pictureComponentPrice {
    @apply text-2xl font-bold;
  }
  .pictureComponent > .pictureComponentDesc {
    @apply text-2xl font-bold;
  }

  .product {
    @apply pt-24 h-screen flex flex-col gap-2 items-center;
  }
}
